/* 
.container{
    display: flex;
    
   
   
}
.inner{


}
img{
   
    background-color: aqua;
    width: 400px;
    height: 300px;
    margin: 10px;
    transition: all 1s;
} */
